<h1 class="page-header">Cuentas de usuario:</h1>

 <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre de Usuario</th>
                                        <th>Contraseña</th>
                                        <th>Fecha y Hora de creación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <%for(var i=0; i < data.length; i++){%>
                                	<tr>
                                       <td><%=data[i].username%></td>
                                	   <td><%=data[i].password%></td>
                                	   <td><%=new Date(data[i].creacion).toLocaleString()%></td>
                                    </tr>
                                <%}%>
                                </tbody>
  </table>