<h1 class="page-header">Ficha de Lanzamiento de producto: </h1>

<div class="ficha"></div>


<script type="text/javascript">
    $.ajax({
                type: 'POST',
                data: {'tipo_producto': "P"},
                url: 'ficha_lanzamiento',
                success: function(data){
                    $(".ficha").html(data);
                }
            });
    function mostrar(){
        $(function(){
            var tipo_producto = $("#tipo_producto").val();
            $.ajax({
                type: 'POST',
                data: {'tipo_producto': tipo_producto},
                url: 'ficha_lanzamiento',
                success: function(data){
                    $(".ficha").html(data);
                }
            });
        });

    }

</script>