<style type="text/css">
	.list_proccess{
		border: 1px solid rgb(200,200,200);
		padding: 0;
		width: 100%;
		text-decoration: none;
		text-decoration-style: none;
	}
	.item_proccess{
		padding-left: 20px;
		margin: 0;
		padding: 5px;
		list-style: none;
		text-decoration-style: none;
	}
	.item_proccess:hover{
		cursor: pointer;
		background-color: rgb(220,220,220);
	}
</style>
<div>
	<ul class="list_proccess">
		<%for(var i=0; i< data.length; i++){%>
			<li class="item_proccess">
				<%=data[i].nombre_etapa%>
			</li>
		<%}%>
	</ul>
</div>